In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('used_device_data.csv')
df.head()

,device_brand,os,screen_size,4g,5g,rear_camera_mp,front_camera_mp,internal_memory,ram,battery,weight,release_year,days_used,normalized_used_price,normalized_new_price
0,Honor,Android,14.50,yes,no,13.0,5.0,64.0,3.0,3020.0,146.0,2020,127,4.307572,4.715100
1,Honor,Android,17.30,yes,yes,13.0,16.0,128.0,8.0,4300.0,213.0,2020,325,5.162097,5.519018
2,Honor,Android,16.69,yes,yes,13.0,8.0,128.0,8.0,4200.0,213.0,2020,162,5.111084,5.884631
3,Honor,Android,25.50,yes,yes,13.0,8.0,64.0,6.0,7250.0,480.0,2020,345,5.135387,5.630961
4,Honor,Android,15.32,yes,no,13.0,8.0,64.0,3.0,5000.0,185.0,2020,293,4.389995,4.947837

In [3]:
df.isnull().sum()

device_brand               0
os                         0
screen_size                0
4g                         0
5g                         0
rear_camera_mp           179
front_camera_mp            2
internal_memory            4
ram                        4
battery                    6
weight                     7
release_year               0
days_used                  0
normalized_used_price      0
normalized_new_price       0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3454 entries, 0 to 3453
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   device_brand           3454 non-null   object
 1   os                     3454 non-null   object
 2   screen_size            3454 non-null   float64
 3   4g                     3454 non-null   object
 4   5g                     3454 non-null   object
 5   rear_camera_mp         3275 non-null   float64
 6   front_camera_mp        3452 non-null   float64
 7   internal_memory        3450 non-null   float64
 8   ram                    3450 non-null   float64
 9   battery                3448 non-null   float64
 10  weight                 3447 non-null   float64
 11  release_year           3454 non-null   int64
 12  days_used              3454 non-null   int64
 13  normalized_used_price  3454 non-null   float64
 14  normalized_new_price   3454 non-null   float64
dtypes: float64(9), int64(2), object(4)
memory usage: 404.9+ KB

In [5]:
df.head()

,device_brand,os,screen_size,4g,5g,rear_camera_mp,front_camera_mp,internal_memory,ram,battery,weight,release_year,days_used,normalized_used_price,normalized_new_price
0,Honor,Android,14.50,yes,no,13.0,5.0,64.0,3.0,3020.0,146.0,2020,127,4.307572,4.715100
1,Honor,Android,17.30,yes,yes,13.0,16.0,128.0,8.0,4300.0,213.0,2020,325,5.162097,5.519018
2,Honor,Android,16.69,yes,yes,13.0,8.0,128.0,8.0,4200.0,213.0,2020,162,5.111084,5.884631
3,Honor,Android,25.50,yes,yes,13.0,8.0,64.0,6.0,7250.0,480.0,2020,345,5.135387,5.630961
4,Honor,Android,15.32,yes,no,13.0,8.0,64.0,3.0,5000.0,185.0,2020,293,4.389995,4.947837

In [6]:
#Calculate the average screen size of all the devices in the dataset.
df.groupby(['device_brand'])['screen_size'].mean()

device_brand
Acer          14.949608
Alcatel       12.847934
Apple         18.510256
Asus          15.010902
BlackBerry    10.812273
Celkon         9.022727
Coolpad       13.013636
Gionee        12.429464
Google        14.643333
HTC           12.511273
Honor         15.491466
Huawei        15.600558
Infinix       15.756000
Karbonn       11.428966
LG            13.146119
Lava          11.715000
Lenovo        15.239415
Meizu         13.826774
Micromax      11.435556
Microsoft     12.653182
Motorola      13.562925
Nokia         10.496321
OnePlus       15.550455
Oppo          14.170388
Others        13.054582
Panasonic     12.612553
Realme        15.628780
Samsung       14.316833
Sony          13.706395
Spice         11.411333
Vivo          15.118803
XOLO          11.926122
Xiaomi        14.904848
ZTE           12.888571
Name: screen_size, dtype: float64

In [7]:
#Determine the proportion of devices that support 4G and 5G networks.
(df['4g'].value_counts().values/ df['4g'].value_counts().values.sum()) * 100

array([67.60277939, 32.39722061])

In [8]:
df['4g'].value_counts()

yes    2335
no     1119
Name: 4g, dtype: int64

In [9]:
#Determine the proportion of devices that support 4G and 5G networks.
(df['5g'].value_counts().values/ df['5g'].value_counts().values.sum()) * 100

array([95.59930515,  4.40069485])

In [10]:
df['5g'].value_counts()

no     3302
yes     152
Name: 5g, dtype: int64

In [11]:
#Identify the device brand with the highest and lowest average rear camera resolution.
df22 = df.groupby(['device_brand'])['rear_camera_mp'].mean()

In [12]:
df22 = pd.DataFrame(df22)
df22.reset_index(inplace=True)

In [13]:
df22

   device_brand  rear_camera_mp
0          Acer        6.967647
1       Alcatel        6.432231
2         Apple        9.820513
3          Asus       10.018220
4    BlackBerry       10.333333
5        Celkon        3.996970
6       Coolpad       11.263158
7        Gionee        9.913393
8        Google       11.933333
9           HTC       10.792727
10        Honor       12.327586
11       Huawei       10.340438
12      Infinix             NaN
13      Karbonn        6.755172
14           LG        8.345025
15         Lava        6.845588
16       Lenovo        8.951754
17        Meizu       13.608511
18     Micromax        6.104701
19    Microsoft        9.454545
20     Motorola       12.920455
21        Nokia        5.839623
22      OnePlus       14.200000
23         Oppo       10.444495
24       Others        8.013008
25    Panasonic       10.427778
26       Realme       13.000000
27      Samsung        9.177419
28         Sony       14.870886
29        Spice        4.921667
30         Vivo       12.859223
31         XOLO        7.455102
32       Xiaomi       12.399083
33          ZTE       11.695588

In [14]:
df22.groupby('device_brand').max()

              rear_camera_mp
device_brand
Acer                6.967647
Alcatel             6.432231
Apple               9.820513
Asus               10.018220
BlackBerry         10.333333
Celkon              3.996970
Coolpad            11.263158
Gionee              9.913393
Google             11.933333
HTC                10.792727
Honor              12.327586
Huawei             10.340438
Infinix                  NaN
Karbonn             6.755172
LG                  8.345025
Lava                6.845588
Lenovo              8.951754
Meizu              13.608511
Micromax            6.104701
Microsoft           9.454545
Motorola           12.920455
Nokia               5.839623
OnePlus            14.200000
Oppo               10.444495
Others              8.013008
Panasonic          10.427778
Realme             13.000000
Samsung             9.177419
Sony               14.870886
Spice               4.921667
Vivo               12.859223
XOLO                7.455102
Xiaomi             12.399083
ZTE                11.695588

In [15]:
df22.groupby('device_brand').min()

              rear_camera_mp
device_brand
Acer                6.967647
Alcatel             6.432231
Apple               9.820513
Asus               10.018220
BlackBerry         10.333333
Celkon              3.996970
Coolpad            11.263158
Gionee              9.913393
Google             11.933333
HTC                10.792727
Honor              12.327586
Huawei             10.340438
Infinix                  NaN
Karbonn             6.755172
LG                  8.345025
Lava                6.845588
Lenovo              8.951754
Meizu              13.608511
Micromax            6.104701
Microsoft           9.454545
Motorola           12.920455
Nokia               5.839623
OnePlus            14.200000
Oppo               10.444495
Others              8.013008
Panasonic          10.427778
Realme             13.000000
Samsung             9.177419
Sony               14.870886
Spice               4.921667
Vivo               12.859223
XOLO                7.455102
Xiaomi             12.399083
ZTE                11.695588

In [16]:
#Calculate the average internal memory and RAM for all devices in the dataset.
df.groupby(['device_brand'])['ram','internal_memory'].mean()#

C:\Users\HP\AppData\Local\Temp\ipykernel_6508\1118547812.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['device_brand'])['ram','internal_memory'].mean()#

                   ram  internal_memory
device_brand
Acer          3.901961        23.215686
Alcatel       3.407025        35.966942
Apple         4.000000        95.179487
Asus          4.049180        51.803279
BlackBerry    3.829545        57.454545
Celkon        1.613636       215.272727
Coolpad       3.954545        36.363636
Gionee        3.933036        43.714286
Google        4.533333        57.600000
HTC           4.000000        33.018182
Honor         4.603448        75.862069
Huawei        4.655378        80.764940
Infinix       2.600000        38.400000
Karbonn       3.353448        66.758966
LG            3.936567        37.930348
Lava          3.277778       104.000000
Lenovo        3.885965        42.292398
Meizu         4.451613        58.580645
Micromax      3.679487        47.063248
Microsoft     4.000000        31.272727
Motorola      3.943396        53.584906
Nokia         2.420294        25.595882
OnePlus       6.363636       141.818182
Oppo          4.961240        85.457364
Others        3.777888        41.633466
Panasonic     4.000000        27.914894
Realme        4.195122        70.634146
Samsung       4.199413        48.234604
Sony          4.069767        34.604651
Spice         3.750000        49.600000
Vivo          4.756410        86.051282
XOLO          4.000000        22.204082
Xiaomi        4.583333        81.212121
ZTE           4.023214        46.057143

In [17]:
#Determine the proportion of devices that have a battery capacity of over 4000mAh.
over_4000 =(df['battery'] > 4000).sum()
proportion = (over_4000/len(df))*100
print(proportion)

18.008106543138393

In [18]:
#Analyze the weight distribution of all the devices in the dataset.
df.groupby(['device_brand'])['weight'].count()

device_brand
Acer           51
Alcatel       121
Apple          39
Asus          122
BlackBerry     22
Celkon         33
Coolpad        22
Gionee         56
Google         15
HTC           110
Honor         116
Huawei        251
Infinix        10
Karbonn        29
LG            201
Lava           36
Lenovo        171
Meizu          62
Micromax      117
Microsoft      22
Motorola      106
Nokia         106
OnePlus        22
Oppo          129
Others        502
Panasonic      47
Realme         41
Samsung       341
Sony           86
Spice          30
Vivo          117
XOLO           42
Xiaomi        132
ZTE           140
Name: weight, dtype: int64

In [19]:
#Identify the release year with the highest and lowest average normalized used price.
df2=df.groupby(['device_brand'])['release_year'].mean()

In [20]:
df2

device_brand
Acer          2014.372549
Alcatel       2014.991736
Apple         2016.641026
Asus          2015.385246
BlackBerry    2015.181818
Celkon        2013.272727
Coolpad       2016.363636
Gionee        2014.928571
Google        2017.933333
HTC           2015.172727
Honor         2018.146552
Huawei        2017.147410
Infinix       2019.600000
Karbonn       2013.310345
LG            2015.920398
Lava          2014.527778
Lenovo        2015.619883
Meizu         2017.177419
Micromax      2014.333333
Microsoft     2014.863636
Motorola      2017.198113
Nokia         2016.396226
OnePlus       2018.000000
Oppo          2017.302326
Others        2015.141434
Panasonic     2015.574468
Realme        2019.463415
Samsung       2015.703812
Sony          2015.383721
Spice         2013.233333
Vivo          2017.880342
XOLO          2013.653061
Xiaomi        2017.643939
ZTE           2015.900000
Name: release_year, dtype: float64

In [21]:
df2.groupby('device_brand').min()

device_brand
Acer          2014.372549
Alcatel       2014.991736
Apple         2016.641026
Asus          2015.385246
BlackBerry    2015.181818
Celkon        2013.272727
Coolpad       2016.363636
Gionee        2014.928571
Google        2017.933333
HTC           2015.172727
Honor         2018.146552
Huawei        2017.147410
Infinix       2019.600000
Karbonn       2013.310345
LG            2015.920398
Lava          2014.527778
Lenovo        2015.619883
Meizu         2017.177419
Micromax      2014.333333
Microsoft     2014.863636
Motorola      2017.198113
Nokia         2016.396226
OnePlus       2018.000000
Oppo          2017.302326
Others        2015.141434
Panasonic     2015.574468
Realme        2019.463415
Samsung       2015.703812
Sony          2015.383721
Spice         2013.233333
Vivo          2017.880342
XOLO          2013.653061
Xiaomi        2017.643939
ZTE           2015.900000
Name: release_year, dtype: float64

In [22]:
df2.groupby('device_brand').max()

device_brand
Acer          2014.372549
Alcatel       2014.991736
Apple         2016.641026
Asus          2015.385246
BlackBerry    2015.181818
Celkon        2013.272727
Coolpad       2016.363636
Gionee        2014.928571
Google        2017.933333
HTC           2015.172727
Honor         2018.146552
Huawei        2017.147410
Infinix       2019.600000
Karbonn       2013.310345
LG            2015.920398
Lava          2014.527778
Lenovo        2015.619883
Meizu         2017.177419
Micromax      2014.333333
Microsoft     2014.863636
Motorola      2017.198113
Nokia         2016.396226
OnePlus       2018.000000
Oppo          2017.302326
Others        2015.141434
Panasonic     2015.574468
Realme        2019.463415
Samsung       2015.703812
Sony          2015.383721
Spice         2013.233333
Vivo          2017.880342
XOLO          2013.653061
Xiaomi        2017.643939
ZTE           2015.900000
Name: release_year, dtype: float64

In [23]:
#Calculate the average number of days used for all devices in the dataset.
df.groupby(['device_brand'])['days_used'].mean()

device_brand
Acer          795.921569
Alcatel       755.214876
Apple         636.307692
Asus          747.237705
BlackBerry    692.909091
Celkon        788.121212
Coolpad       766.227273
Gionee        782.642857
Google        519.200000
HTC           756.818182
Honor         466.025862
Huawei        557.764940
Infinix       313.300000
Karbonn       823.413793
LG            660.278607
Lava          787.222222
Lenovo        722.660819
Meizu         657.032258
Micromax      814.743590
Microsoft     853.636364
Motorola      543.188679
Nokia         616.849057
OnePlus       513.000000
Oppo          550.945736
Others        741.597610
Panasonic     810.468085
Realme        313.390244
Samsung       702.167155
Sony          728.976744
Spice         881.233333
Vivo          500.598291
XOLO          823.244898
Xiaomi        545.386364
ZTE           725.128571
Name: days_used, dtype: float64

In [24]:
#Analyze the correlation between screen size and device weight.
df_corr = df[['screen_size','weight']]
df_corr.corr()

             screen_size   weight
screen_size      1.00000  0.82889
weight           0.82889  1.00000

In [25]:
#Determine the device brand with the highest and lowest average normalized new price.
df5=df.groupby(['device_brand'])['normalized_new_price'].mean()

In [26]:
df5

device_brand
Acer          5.077328
Alcatel       4.804302
Apple         6.339548
Asus          5.387590
BlackBerry    5.304419
Celkon        4.018319
Coolpad       5.169676
Gionee        5.334537
Google        6.077932
HTC           5.452407
Honor         5.349602
Huawei        5.515084
Infinix       4.655516
Karbonn       4.582536
LG            5.286666
Lava          4.586627
Lenovo        5.138462
Meizu         5.462516
Micromax      4.513854
Microsoft     4.963936
Motorola      5.191796
Nokia         4.668024
OnePlus       6.266780
Oppo          5.679682
Others        5.051192
Panasonic     5.020892
Realme        5.082650
Samsung       5.482891
Sony          5.549278
Spice         4.453086
Vivo          5.638037
XOLO          4.822616
Xiaomi        5.364574
ZTE           5.218665
Name: normalized_new_price, dtype: float64

In [30]:
df5.max()

6.339547772461539

In [28]:
df5.groupby('device_brand').min()

device_brand
Acer          5.077328
Alcatel       4.804302
Apple         6.339548
Asus          5.387590
BlackBerry    5.304419
Celkon        4.018319
Coolpad       5.169676
Gionee        5.334537
Google        6.077932
HTC           5.452407
Honor         5.349602
Huawei        5.515084
Infinix       4.655516
Karbonn       4.582536
LG            5.286666
Lava          4.586627
Lenovo        5.138462
Meizu         5.462516
Micromax      4.513854
Microsoft     4.963936
Motorola      5.191796
Nokia         4.668024
OnePlus       6.266780
Oppo          5.679682
Others        5.051192
Panasonic     5.020892
Realme        5.082650
Samsung       5.482891
Sony          5.549278
Spice         4.453086
Vivo          5.638037
XOLO          4.822616
Xiaomi        5.364574
ZTE           5.218665
Name: normalized_new_price, dtype: float64